{% extends 'base.html' %}
{% block content %}

  <h2>Registration</h2>

  <form action="/register" id="registration-form" method="POST">
    <label for="f_name">First Name:</label>
    <input type="text" id="f_name" name="f_name">
    <label for="l_name">Last Name:</label>
    <input type="text" id="l_name" name="l_name">
    <label for="email">Email address:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit">
  </form>

{% endblock %}