{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}
{% block content %}

  <h2>What is life without goals?</h2>

  <h2>My Goals</h2>
    <div>
      <h3>Add a New Goal:</h3>
      <form action="/add_new", method = "POST">
          <input type="text" name="goal" maxlength="200">
          <input type="submit" value="Add">
      </form>
    </div>

    <div>
        <ul>
          {% for goals in user.goals %}

            <li> {{goals.u_goal}}</li>
            <div>
            <form action="/edit_goal", method = "POST">
              <input type="text" name="goal" maxlength="200">
              <input type="hidden" name="goal_id" value="{{goals.goal_id}}">
              <input type="submit" value="Edit">
            </form>
            </div>
          {% endfor %}
        </ul>
    </div>


{% endblock %}